DEBUG=0
SECRET_KEY=change_me
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=polewatcher_db_prod
SQL_USER=polewatcher_admin
SQL_PASSWORD=polewatcher_admin
SQL_HOST=postgres_db_prod
SQL_PORT=5432
DATABASE=postgres
